@model WebApp.Models.Label
@{
    ViewBag.Title = "Добавление метки";
}

<h2>Добавление метки</h2>
<form asp-action="CreateLabel" asp-controller="Label">
    <p>
        <label asp-for="Title">Назвавние</label><br />
        <input type="text" asp-for="Title" />
    </p>
    <p>
        <label asp-for="Color">Цвет</label><br />
        <input type="text" asp-for="Color" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>