@model WebApp.Models.Project

@{
    ViewBag.Title = "Создание проекта";
}

<h2>Создание проекта</h2>

@using (Html.BeginForm("CreateProject", "Project", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Title)
        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}