@model IEnumerable<WebApp.Models.User>


<h2>Список пользователей</h2>
<p><a asp-action="CreateUser">Добавить пользователя</a></p>
<table class="table">
    <tr>
        <th>Пользователь</th>
        <th>Пароль</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UserName</td>
            <td>@u.PasswordHash</td>
        </tr>
    }
</table>