@model WebApp.Models.Role
@{
    ViewBag.Title = "Добавление роли";
}

<h2>@ViewBag.Title</h2>


<form asp-action="CreateRole" asp-controller="Role" method="post">
    <p>
        <label asp-for="Title">Название:</label><br />
        <input type="text" asp-for="Title" required />
    </p>
    <p>
        <label asp-for="Info">Информация:</label><br />
        <textarea asp-for="Info"></textarea>
    </p>
    <p>
        <button type="submit">Создать</button>
    </p>
    @Html.AntiForgeryToken()
</form>