@model IEnumerable<WebApp.Models.Role>
@{
    ViewBag.Title = "Список ролей";
}

<h2>Список ролей</h2>
<a asp-action="CreateRole">Добавить роль</a>
<table class="table">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Проект</th>
        <th>Права</th>
    </tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Title</td>
            <td>@role.Info</td>
            <td>@role.Project.Title</td>
            <td>@string.Join(", ",role.Permissions.Select( p => p.Title))</td>
        </tr>
    }
</table>
