@model IEnumerable<WebApp.Models.Group>


<h2>Список групп</h2>
@* <p><a asp-action="CreateGroup">Добавить группу</a></p> *@
<table class="table">
    <tr>
        <th>Пользователь</th>
        <th>Группа</th>
        <th>Приоритет</th>
        <th>Кол-во задач</th>
    </tr>
    @foreach (var g in Model)
    {
        <tr>
            <td>@g.User.Login</td>
            <td>@g.GroupName</td>
            <td>@g.Priority</td>
            <td>@g.Objectives.Count</td>
        </tr>
    }
</table>