@model IEnumerable<WebApp.Models.Member>

<h2>Участники</h2>
<a href="@Url.Action("CreateMember")">Добавить участника</a>
<table>
    <thead>
    <tr>
        <th>Имя</th>
        <th>Информация</th>
        <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.Name</td>
            <td>@member.Info</td>
            <td>@member.Role.Title</td>
        </tr>
    }
    </tbody>
</table>