@model WebApp.Models.User
 
<h2>Добавление задачи</h2>
<form asp-action="Create" asp-controller="User">
    <p>
        <label asp-for="UserName">Логин</label><br />
        <input type="text" asp-for="UserName" />
    </p>
    <p>
        <label asp-for="PasswordHash">Пароль</label><br />
        <input type="password" asp-for="PasswordHash" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>