@model IEnumerable<WebApp.Models.User>


<h2>Список пользователей</h2>
<p><a asp-action="Create">Добавить пользователя</a></p>
<table class="table">
    <tr>
        <th>Пользователь</th>
        <th>Пароль</th>
        <th />
        <th />
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Login</td>
            <td>@u.PasswordHash</td>
            <td>
                <a asp-action="Edit" asp-controller="User" asp-route-id="@u.UserId">Изменить</a>
            </td>
            <td>
                <form asp-action="Delete" asp-controller="User" method="post"  asp-route-id="@u.UserId">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>