@model WebApp.Models.User
 
<h2>Редактирование пользователя</h2>
<form asp-action="Edit" asp-controller="User" asp-route-UserId="@Model.UserId">
    <p>
        <label asp-for="Login">Имя</label><br />
        <input type="text" asp-for="Login" />
    </p>
    <p>
        <label asp-for="PasswordHash">Пароль</label><br />
        <input type="password" asp-for="PasswordHash" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>